*{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
}

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
  overflow-y:scroll;
}

.social-icon {
  width: 34px;
  height: auto;
}

.container-img {
  padding: 0 3px;
}

.hotel-container,
.main-banner {
  position: relative;
  background: #696969;
  overflow: hidden;
  /* margin: 0 auto 10px auto; */
  /* width: 80vw; */
}
.hotel-container::before,
.main-banner::before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.45;
  background-image: url('https://images.pexels.com/photos/2096983/pexels-photo-2096983.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-size: cover;
}

.hotel-container h3,
.hotel-container h4,
.hotel-container p,
.hotel-container button,
.main-banner h1 {
  position: relative;
  z-index: 2;
  color: #000000;
}

.main-banner::before {
  background-image: url('https://images.pexels.com/photos/261156/pexels-photo-261156.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}

.bg-img-2::before {
  background-image: url('https://images.pexels.com/photos/919/night-dark-hotel-luxury.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}

.bg-img-3::before {
  background-image: url('https://images.pexels.com/photos/261169/pexels-photo-261169.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}

.bg-img-4::before {
  background-image: url('https://images.pexels.com/photos/3225531/pexels-photo-3225531.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}
.bg-img-5::before {
  background-image: url('https://images.pexels.com/photos/1580112/pexels-photo-1580112.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}
.bg-img-6::before {
  background-image: url('https://images.pexels.com/photos/1287460/pexels-photo-1287460.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
}

.nav-transition {
  transition: all 0.6s ease-out;
}

.navbar-nav {
  overflow: hidden;
}

.form-group {
  text-align: left;
}

@media only screen and (max-width: 2560px) and (min-width: 1024px) {
  /* .hotel-container {
    width: 25vw;
    height: 28vh;
    padding: 2px 5px;
    justify-content: space-between;
    margin: 5px 0;
  } */

  .flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container-utl > a {
    display: inline;
  }

  .footer {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .container-footer-1,
  .container-footer-2,
  .container-footer-3 {
    height: 25vh;
    width: 33.33%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .container-add {
    text-align: left;
  }

}

.footer {
  background-color: #E9ECEF;
  margin: 60px 0 0 0;
}

.container-footer-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-footer-3 {
  display: flex;
  flex-direction: column;
}
.container-footer-1,
.container-footer-2,
.container-footer-3 { 
  padding: 3px;
  margin: 4px;
}

.jumbotron {
  margin: 56px 0;
}

.footer-add-icon {
  padding: 0 5px 0 0;
}

td {
  text-align: left;
}

.btn-fotos {
  border-radius: 0;
  border-bottom: 0;
}

.advice-container {
  margin-bottom: 38px;
}

.list-group,
.nav-ovf {
  overflow: hidden;
}

.list-container {
  width: 18rem;
}

.carousel-item {
  height: 400px;
}

.carousel-inner {
  margin: 0 0 50px 0;
  border-radius: 5px;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}